---
import { readAll } from '../lib/markdoc/read';

import PageMeta from '../components/PageMeta.astro';
import PostList from '../components/PostList.astro';
import { SITE_TITLE } from '../config';
import PageLayout from '../layouts/PageLayout.astro';

const posts = await readAll({
  directory: 'blog',
});

const sortedPosts = posts.sort(
  (a, b) => new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf(),
);
---

<PageLayout>
  <PageMeta title={`Blog | ${SITE_TITLE}`} slot="meta" />
  <section slot="main">
    <PostList posts={sortedPosts} />
  </section>
</PageLayout>
