---
import Socials from './Socials.astro';
---

<section class='mb-8'>
  <div class='mb-4'>
    <h1 class='font-extrabold text-5xl md:text-6xl tracking-tight pt-4 pb-2 overflow-hidden'>
      <span
        class='bg-gradient-to-br from-primary-400 via-primary-500 to-primary-600 dark:from-primary-main dark:via-primary-main dark:to-primary-main bg-clip-text text-transparent'
      >
        Hi, I'm Joost
      </span>
    </h1>
    <p class='text-2xl pb-4'>Web Developer. Tools and Product Person.</p>
  </div>
  <div>
    <p class='mb-5'>
      I'm a JavaScript developer and Playmob's Technical Integration Manager, based in London.
      Passionate about content curation, technical workflow tooling and dashboards/admin interfaces.
    </p>

    <p class='mb-5'>
      Current side projects include ways to <a href='https://streamers.dev'
        >discover dev streamers</a
      > and <a href='https://learnbyvideo.dev'>YouTube programming channels</a>.
    </p>

    <p class='mb-5'>
      <Socials />
    </p>
  </div>
</section>
