---
---

<section class="mb-16">
  <h2 class="m-0 text-2xl sm:text-4xl mb-[0.25em] font-bold">Whoops! Page Not Found!</h2>
  <p class="pb-4 md:pb-8">
    Looks like you followed a bad link. On the plus side, you got to these animal besties handing
    out!
  </p>
  <div class="px-8 md:px-20 mx-auto max-w-xl">
    <img
      class="shadow-lg"
      src="/images/404_animals.jpg"
      alt="A lama, a sheep, a rooster, a goat and a highland cow standing in a slightly foggy field, perfectly arranged and staring into the camera."
    />
  </div>
</section>
