---
---

<div>
  <a class='unset text-2xl mr-4 hover:text-text-link' rel='me' href='https://twitter.com/joostschuur'>
    <i class='fa-brands fa-twitter' aria-hidden='true' title='Joost on Twitter'></i>
    <span class='fa-sr-only'>Joost on Twitter</span>
  </a>
  <a class='unset text-2xl mr-4 hover:text-text-link' rel='me' href='https://github.com/jschuur'>
    <i class='fa-brands fa-github' aria-hidden='true' title='Joost on GitHub'></i>
    <span class='fa-sr-only'>Joost on GitHub</span>
  </a>
  <a class='unset text-2xl mr-4 hover:text-text-link' rel='me' href='https://instagram.com/joostschuur'>
    <i class='fa-brands fa-instagram' aria-hidden='true' title='Joost on Instagram'></i>
    <span class='fa-sr-only'>Joost on Instagram</span>
  </a>
  <a class='unset text-2xl mr-4 hover:text-text-link' rel-='me' href='https://mastodon.social/@joostschuur'>
    <i class='fa-brands fa-mastodon' aria-hidden='true' title='Joost on Mastodon'></i>
    <span class='fa-sr-only'>Joost on Mastodon</span>
  </a>
  <a class='unset text-2xl mr-4 hover:text-text-link' href='mailto:jschuur@jschuur.com'>
    <i class='fas fa-envelope' aria-hidden='true' title='Email Joost'></i>
    <span class='fa-sr-only'>Email Joost</span>
  </a>
</div>
